html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-size: 62.5%;
    /* border: 1px red solid; */
}

body, html {
    background-color: #141414;
}

.h1-title {
margin: 4% 0 4% 0;
}


h1 {
    font-size: 2.5vw;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}


h2 {
    font-size: 1.6vw;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

h3 {
    font-size: 1vw;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

p {
        font-size: 1.3vw;
        color: #fff;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.button-div {
    display: flex;
    /* justify-content: space-between; */
    margin: 4% 0 4% 0%;
}

.play-button {
    background-color: white;
    color: black;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 1rem 2rem;
    size: 1rem;
}


html,body{
    margin: 0 auto;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  
  main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    
  }


  .button {
    height: 40px;
    width: 80px;
    background-color: white;
    padding: 6px 30px 6px 30px;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    z-index: 1;
    box-shadow: inset 0 0 20px rgba(255, 166, 170, 0);
    outline: 1px solid;
    outline-color: rgba(255, 166, 170, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .left-margin {
    margin-left: 5%;

  }
  
  .button a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: inherit;
    position: absolute;
    text-decoration: none;
    color: #E50914;
    z-index: 1;
    transition: color .2s;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .button a:hover {
    color: white;
  }
  
  .background__button {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #E50914;
    border-radius: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    transition: width .3s, height .3s, box-shadow .3s;
  }

  /* .boxes-card  {
      height: 1200px;
      width: 400px;
  }
   */
  
  .background__button.is-hover {
     width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 300px -40px     rgba(0,0,0,1);
  }
  
  .button:hover {
    box-shadow: inset 0 0 20px rgba(255, 166, 170, .5), 0 0 20px rgba(255, 126, 133, .2);
    outline-color: rgba(255, 166, 170, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
  
  /*  */
  


.info-button {

        background-color: #6d6d63be;
        color: white;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        padding: 0.7rem;
}
body {
    font-size: 1.6em;
}



.header {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 0 4%; */
    height: 68px;
    justify-content: space-between;
    /* align-items: center; */
}

/* .tabbed-primary-navigation {
    display: flex;
} */

.nav-div{
    margin: 0 1%;
}

/* .menu-header {
    display: flex;
    flex-direction: row;
    margin: 0 20%;
} */

.image {
    /* margin: 0 9%; */
    padding: 0 0.2%;
    /* justify-content: space-evenly; */
}

.navigation-tab {
    /* margin-left: 4%; */
    /* width: auto; */
        white-space: nowrap;
        /* align-items: center; */

}


.nav-div {
    margin-left: 3%;
}


.testing {
    height: 500px;
}

.inactive {
display: none;
}

.card-style {
    /* display: none; */
    /* z-index: 3; */
    /* top:inherit; left: inherit; */
    height: 351px;
    width: 336px;
    margin: 0% 0.1%;
    border-radius: 4px 4px 0 0;
    text-align: center;
    transition: 500ms;
    border-radius: 3%;
}

.card-style:hover {
    transform: scale(1.5);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1;
  }
  
  .card-style:hover img {
    transition-delay: 300ms;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  }

.card-style h3 {
    text-align: left;
    margin: 4% 0;
    padding: 0 4%;
}


.image-display {
    height: 50%;
    border-radius: 4px;
    text-align: center;
    transition: 500ms;
}

.lower-section {
    background-color: #181818;
    padding: 4%;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}



/* .slider-flx .card-buttons {
} */

.header-nav {
    /* margin-right: 20%; */
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
    /* padding: 0 6%; */
    /* text-align: left; */
    /* width: 700px; */
    /* text-align: center; */
    /* width: fit-content; */
    /* white-space: nowrap; */

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.tabbed-primary-navigation .current {
color: #fff;
}

.tabbed-primary-navigation {
    /* margin: 0;
    padding: 0; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -moz-box; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -moz-box-align: center; */
    /* -ms-flex-align: center; */
    align-items: center;
    height: 68px;
}

.tabbed-secondary-navigation {
    /* margin: 0;
    padding: 0; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -moz-box; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -moz-box-align: center; */
    /* -ms-flex-align: center; */
    align-items: center;
    /* text-align: center; */
    padding-inline-end: 20px;
    /* padding-bottom: 20px; */

}

/* .navigation-tab {
    padding-bottom: 20px;
} */

.navigation-tab   {
    list-style-type: none;
    margin-left: 18px;
    /* padding-bottom: 17px; */
}



.nav-element:not(:last-child) {
    margin-right: 15px;
}

.tabbed-primary-navigation a {
color: #e5e5e5;
text-decoration: none;
/* margin: 0 4%; */
}

.arrow-menu {
    align-items: center;

}

.header img {
size: auto;
}


.header a {
    font-size: 1rem;
    font-style: none;
    
}

.home-page {
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 4%;
}

.home-page-image {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 15% 70% 0 0;
}

.boxes {
    height: 128px;
    width: 228px;
    margin: 0.04%;
    border-radius: 4px;
    text-align: center;
    transition: 500ms;
}

/* .boxes:active{
    height: 328px;
    width: 528px;
    margin: 0.04%;
    border-radius: 4px;
    transition: 500ms;
    text-align: center;
} */

.h3-title {
    padding: 0 0 0 4%;
    color: white;
    margin-bottom: 1rem;

}

.boxes h3 {
    display: none;
}

/* .boxes h3 {
margin-top: 70%;
} */

.categories-slider {
overflow: auto;
/* padding: 0 0%; */
height: 150px;
}

.categories-slider {

    /* display: none; */
  }

.Popular-slider {
    overflow: auto;
    /* padding: 0 4%; */
}
.Popular-slider::-webkit-scrollbar {
    display: none;
  }

.trending-slider {
    overflow: auto;
    /* padding: 0 4%; */
}
.trending-slider::-webkit-scrollbar {
    display: none;
    
  }

.slider-flex {
    display: inline-flex;
    overflow: visible;
    scroll-behavior:initial;
    /* position:absolute; */
    /* width: 100%; */
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 2;

}




.Comedies-slider {
    overflow: auto;
    /* padding: 0 4%; */
}

.Comedies-slider::-webkit-scrollbar {
    display: none;
  }
.Comedies {
background-size: contain;
background-repeat: no-repeat;
}

.drama {
background-size:cover;
background-repeat: no-repeat;

}

.action {
background-size:cover;
background-repeat: no-repeat;

}

.Realities {
    background-size: contain;

}

.Romance {
    background-size: contain;

}


.Crime {
    background-size: contain;
}
.Documentaries{
    background-size: contain;
}
.SCI-FI     {
    background-size: contain;
}      
.Thriller     {
    background-size: contain;
}       
.LGBTQ     {
    background-size: contain;
}     
.Children      {
    background-size: contain;
}    
.International    {
    background-size: contain;
}     
.Fantasy    {
    background-size: contain;
}     
.Horror      {
    background-size: contain;
}

.Stand-Up         {
    background-size: contain;
}  
.Music          {
    background-size: contain;
} 
.Independant       {
    background-size: contain;
}   
.Anime           {
    background-size: contain;
}
        

